{{! See partials/content_top.hbs }}
</main>
<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded mt-auto">
    <div class="grid grid-flow-col gap-4">
        <a href="/about" class="link link-hover">About</a>
        <a href="mailto:hey@calebschoepp.com?subject=Gluten-Free Favorites Inquiry" class="link link-hover">Contact</a>
        <a href="/disclaimer" class="link link-hover">Disclaimer</a>
    </div>
    <img width="75" height="75" src="/static/image/logo.svg" />
    <p>Copyright © 2023 - All rights reserved by Caleb Schoepp</p>
</footer>
</div>
</body>

</html>