{{> partials/content_top }}

<div class="m-10 grid grid-cols-5 gap-10">
    {{#each (favorites site.pages)}}
    {{> partials/favorite_card uri page }}
    {{/each }}
</div>

{{> partials/content_bottom }}